version: '3.7'

services:
  
  postgresql:

    container_name: "my_postgresql"
    build: ./postgresql
    ports:
      - "5432:5432"
    environment:
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_PASSWORD=postgres'
    restart: always