<HTML>
<h1>Hello {{ owner }}!</h1>
<BODY bgcolor="purple">
<CENTER><br>
<h2>this is the picture with dogs</h2><br>
<img src="puppy.jpg"><br>
ip: {{ ansible_default_ipv4.address }}<br>
family: {{ ansible_os_family }}<br>
</body>
</HTML>